* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(#87cEEB, #FFC5c5);
}

.contact_container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.left_container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;


}

.left_container h2 {
    font-weight: 700;
    color: #a363aa;
    font-size: 40px;
    margin-bottom: 5px;

}

.left_container hr {
    border: none;
    width: 120px;
    background-color: #a363aa;
    height: 5px;
    border-radius: 10px;


}

.contactinput {
    width: 400px;
    height: 50px;
    border: 0;
    outline: none;
    border-radius: 50px;
    padding-left: 25px;
    color: #666;
    font-weight: 600;

}

.left_container textarea {
    height: 140px;
    width: 400px;
    outline: none;
    border-radius: 50px;
    color: #666;
    font-weight: 600;
    padding-left: 25px;

}

.left_container button {
    border: 0;
    outline: none;
    background: linear-gradient(270deg,#ff994f,#fabd56);
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 50px;


}
@media (max-width:800px){
    .right{
        display: none;

    }
}
.right{
    padding-left: 80px;
    
}
